<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.building.dao.SysPartyOrganizationPostMapper">
  <resultMap id="BaseResultMap" type="com.cqut.building.entity.SysPartyOrganizationPost">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="party_id" jdbcType="VARCHAR" property="partyId" />
    <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
    <result column="post_id" jdbcType="VARCHAR" property="postId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, party_id, organization_id, post_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_party_organization_post
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_party_organization_post
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.building.entity.SysPartyOrganizationPost">
    insert into sys_party_organization_post (id, party_id, organization_id, 
      post_id)
    values (#{id,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, 
      #{postId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.building.entity.SysPartyOrganizationPost">
    insert into sys_party_organization_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.building.entity.SysPartyOrganizationPost">
    update sys_party_organization_post
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.building.entity.SysPartyOrganizationPost">
    update sys_party_organization_post
    set party_id = #{partyId,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>